/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #486A3D;
  --matr-navbar-bg-rgb: 72, 106, 61;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: black;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
  background: fixed center no-repeat url(/images/background2.png);
  background-size: cover;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

 /*Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.navbar a.nav-link.active {
  color: var(--matr-navbar-highlight-text);
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}
body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--matr-navbar-bg);
}

.landing-green-background {
  background-color: var(--matr-navbar-bg);
  color: var(--matr-navbar-text-color);
}

.landing-white-background {
  background-color: var(--matr-navbar-text-color);
}

.home {
  color: var(--matr-navbar-bg);
}

/* for item images */
.img {
  height: 186px;
  width: 325px;
  object-fit: scale-down;
}

/* for item images via the user's profile */
.profile-card-img {
  height: 100px;
  width: 150px;
  object-fit: scale-down;
}

/* for item images via categories -> item -> more-info */
.more-info-img {
  height: 300px;
  width: 90%;
  object-fit: scale-down;
}

.sign-in-card {
  border-radius: 20px;
}

.profile-card {
  object-fit: scale-down;
}